{% extends "layout.html" %}

{% block content %}
<div class="about-box">
	<h1>Вводные замечания</h1>
	<h2>Для чего предназначено приложение</h2>
	<p>
		Приложение представляет из себя простой конструктор интерактивных карт, 
		содержащих максимум полезной информации о совершенном путешествии 
		в графической форме. Вообразим себе такую ситуацию: 
		вы прошлись/проехались/пробежались и т.п. на природе и записали GPS-трек. 
		Одновременно с этим вы делали фото на цифровой фотоаппарат, останавливались 
		на отдых в красивых местах и сохраняли путевые точки в навигационное 
		устройство (GPS, смартфон). В финале интересно иметь карту, на которой 
		был бы отражен трек, расставлены места остановок, показаны сохраненные 
		путевые точки и геопривязанные фотографии. Кроме того, интересно раскрасить 
		трек разным цветом в зависимости от скорости передвижения, что позволяет 
		выявить труднопроходимые или, наоборот, скоростные участки трека. Желательно, 
		чтобы процесс создания такой карты был максимально легким и автоматизированным. 
		Для решения этой задачи и задумывалась настоящая программа. 
		Также представляется удобным иметь результат обработки в виде локальных файлов, 
		доступных оффлайн, и имеющих достаточно универсальный формат. Это позволяет 
		использовать их в дальнейшем без привязки к специфическим внутренним форматам 
		различных программ и онлайн-сервисов (см. ниже). Последние часто вообще не 
		предоставляют возможности экспортировать полную информацию о путешествии в 
		универсальном виде и при этом, зачастую, имеют конечное время существования.
	</p>
	<h2>Для чего <em>не</em> предназначено приложение.</h2>
	<p>
	Программа не задумывалась как продвинутый инструмент планирования, редактирования, 
	обработки и визуализации треков. Для этого есть достаточно других программ и 
	онлайн-сервисов с весьма богатым функционалом, например:</p>
	<ul class="contents-list">
		<li>
			<a target="_blank" href="https://github.com/Maproom/qmapshack/wiki">
				QMapShack
			</a>
		</li>
		<li>
			<a target="_blank" href="https://sourceforge.net/projects/viking/">
				Viking
			</a>
		</li>
		<li>
			<a target="_blank" href="https://oziexplorer.ru/">
				OziExplorer
			</a>
			
		</li>
		<li>
			<a target="_blank" href="http://www.gpstrackeditor.com/">
				GPS Track Editor
			</a>
		</li>
		<li>
			<a target="_blank" href="https://nakarte.me/">
				Nakarte.me
			</a>
		</li>
		<li>
			<a target="_blank" href="https://www.google.ru/intl/ru/earth/">
				Google Earth
			</a>
		</li>
		<li>
			<a target="_blank" href="https://www.komoot.com/">
				Komoot
			</a>
		</li>
	</ul>
	<p>и т.п., не говоря уже про профессиональные 
	<a target="_blank" href="https://en.wikipedia.org/wiki/List_of_geographic_information_systems_software">
		ГИС
	</a>, обладающие еще более мощными возможностями.<br>
	Цель изобретать велосипед в этой области никак не ставилась, хотя, возможно, 
	так и получилось в итоге :) 
	Скорее, автору хотелось сделать дополнение к существующим инструментам, которое 
	реализует отсутствующие или (субъективно) неудобно организованные в них возможности.
	</p>
	<h1>Как пользоваться приложением</h1>
	
	<h2 id="contents">Содержание</h2>
	<ul class="contents-list">
		<li>
			<a href="#workflow">
				Общая последовательность работы 
			</a>
		</li>
		<li>
			<a href="#tracks">
				Загрузка треков
			</a>
		</li>
		<li>
			<a href="#images">
				Работа с изображениями 
			</a>
		</li>
		<li>
			<a href="#drawing">
				Отрисовка карты
			</a>
		</li>
		<li>
			<a href="#saving">
				Сохранение результатов
			</a>
		</li>
		<li>
			<a href="#development">
				О приложении
			</a>
		</li>
	</ul>
	
	<h2 id="workflow">Общая последовательность работы </h2> 
	<p>Предполагается, что вы располагаете файлами, содержащими 
	фактический и плановый трек, а также файлом с путевыми точками 
	(POI) в формате <b>gpx</b> (<a target="_blank" href="https://ru.wikipedia.org/wiki/GPX">
		GPX XML
	</a>). Также необходимо иметь файлы 
	изображений для геопривязки в формате <b>jpeg</b>. Более подробно 
	про форматы и ограничения на входные файлы будет написано ниже.</p> 
	<ul class="contents-list">
		<li>
			Сначала нужно загрузить файлы треков и изображений в 
			память программы, используя панель <b>"Загрузка 
			файлов"</b>. После загрузки становится доступным просмотр 
			минимальной статистики загруженных файлов.
		</li>
		<li>
			В панели <b>"Создание карты"</b> необходимо проставить 
			галочки напротив названий нужных операций обработки, 
			указать соответствующие параметры и нажать на кнопку 
			<b>"Нарисовать карту"</b>.
		</li>
		<li>
			Если все прошло хорошо, то в результате на экране 
			появится сообщение об успешном выполнении обработки 
			фактического трека и под кнопкой <b>"Нарисовать карту"</b> 
			появится несколько ссылок для просмотра и сохранения 
			результатов работы программы.
		</li>
	</ul>
	<p>Далее каждый из описанных выше шагов рассмотрен более подробно.</p> 
	
	<p><a href="#contents">
			&lt;&lt; К содержанию
		</a></p>
		
	<h2 id="tracks">Загрузка треков</h2> <p> В память программы могут 
	быть загружены три файла с геоданными различного назначения - файл 
	с плановым треком, файл с фактическим треком и файл с путевыми 
	точками. Эти три файла имеют условные обозначения "План", "Факт" и 
	"Точки" соответственно. Все эти файлы должны иметь формат 
	<b>gpx</b>. Выбор формата определен его наиболее широкой 
	распространенностью. Существует множество программ-конвертеров, 
	позволяющих переводить треки в этот формат, например: <a 
	target="_blank" href="https://www.gpsvisualizer.com/">
		GPS Visualizer
	</a>, <a target="_blank" href="https://www.gpsbabel.org/">
		GPSBabel
	</a>. 
	Наличие каждого из этих файлов не обязательно. Если
	ни один из gpx-файлов не будет загружен, то в результате работы программы
	получится просто пустая карта. 
	Сам процесс загрузки предельно прост:</p>
	<ul class="contents-list">
		<li>
			На панели <b>"Загрузка файлов"</b> жмем на кнопку 
			<b>"Обзор"</b> в разделе загрузки соответствующего файла. 
			При этом появляется диалоговое окно для выбора нужного 
			файла. 
		</li>
		<li>
			Далее жмем на кнопку <b>"Загрузить"</b>. Если все 
			прошло хорошо, то в верхней части экрана появляется 
			сообщение об успешном чтении и загрузке файла.
		</li>
		<li>
			После загрузки на панели <b>"Загруженные треки"</b> в 
			таблице появится запись с описанием содержимого 
			загруженного файла. Отображается имя файла, количество 
			содержащихся в нем треков, сегментов и путевых точек, а 
			также количество точек и длина каждого из сегментов.
		</li>
		<li>
			При нажатии на кнопку <b>"Удалить все треки"</b> загруженные 
			данные будут удалены из памяти программы. Также возможно 
			удаление индивидуальных треков при помощи кнопки <b>"Удалить"</b> 
			в соответствующих строках таблицы треков.
		</li>
	</ul> <p> Трек "План" никак не изменяется в процессе работы 
	программы и просто добавляется на карту в исходном виде. Наличие на 
	карте двух треков может быть полезно для наглядного представления 
	отличий планового маршрута от реально пройденного. Трек "Факт" в 
	процессе работы, напротив, может быть различным образом 
	модифицирован. При этом для отображения результатов модификаций на карту будет 
	добавлена дополнительная линия. Файл "Точки" служит источником 
	путевых точек, которые будут добавлены на карту наряду с двумя 
	треками. Обратите внимание, что путевые точки, содержащиеся в 
	файлах "План" и "Факт" автоматически не считываются. То есть, если 
	все ваши путевые точки содержатся, например, в файле "Факт", то его 
	нужно будет загрузить дважды в соответствующих разделах. При чтении 
	gpx-файлов все их треки и сегменты автоматически объединяются в 
	один общий сегмент, так что забота о правильности содержимого 
	каждого из файлов лежит на пользователе. При необходимости треки 
	можно объединить/удалить/ отредактировать средствами той или иной 
	программы из (очевидно, неполного) списка, приведенного выше в 
	разделе "Для чего не предназначено приложение".</p> <p><a 
	href="#contents">
			&lt;&lt; К содержанию
		</a></p>
		
	<h2 id="images">Работа с изображениями</h2> 
	<p> Это самая 
	трудоемкая для пользователя часть работы по созданию интерактивной 
	карты. В текущем варианте геопривязка фотографий производится 
	исключительно на основе данных о времени съемки и временных меток 
	на GPS-треке. Пока что возможна работа только с файлами формата 
	jpeg, а данные о времени съемки получаются непосредственно из имени 
	файла. Для этого имя должно иметь <em>строго</em> такой формат: 
	<code>imgYYYYMMDD-HHMMSS.jpg</code>, где <code>YYYY</code> - четыре 
	цифры, обозначающие год съемки, <code>MM</code> до дефиса - две 
	цифры, обозначающие месяц съемки, <code>DD</code> - две цифры, 
	обозначающие число, <code>HHMMSS</code> - час, минута и секунда, 
	когда сделано фото. Пример "правильного" имени: 
	<code>img20211123-134523.jpg</code>. Сам процесс загрузки 
	фотографий также предельно прост:</p> <ul class="contents-list">
		<li>
			Щелкаем мышкой на поле "Drop files here to upload" панели 
			"Загрузка файлов" (раздел "Файлы изображений"), после чего появляется диалоговое окно 
			для выбора файлов. Вместо этого можно просто перетащить 
			файлы в это поле. 
		</li>
		<li>
			После чтения файлов в панели <b>"Загруженные изображения"</b> появятся
			эскизы загруженных фотографий. При желании можно удалить отдельные файлы
			или очистить весь список таким же образом, как это делалось для треков.
		</li>
	</ul> 
	<p>Задача отбора фотографий и вращения их в правильную 
	ориентацию при этом полностью возлагается на пользователя.
	В завершение данного раздела сделаем несколько комментариев технического характера.</p>
	<h3>Почему не использованы Exif-геометки?</h3> 
	<p>Потому, что (1) многие фотоаппараты просто не оснащены GPS-приемником и (2) многие 
	смартфоны, оснащенные GPS-приемником активируют его только в момент 
	активации камеры. При этом для определения местоположения 
	смартфона, особенно при отсутствии сигналов сотовой сети, может 
	потребоваться от нескольких секунд до нескольких минут. Тратить 
	столько времени на каждое фото не всегда возможно, а в противном 
	случае геометка оказывается очень приблизительной - с погрешностью 
	от нескольких сотен метров до нескольких километров. 
	<h3>Почему выбран вариант определения времени съемки из имени файла?</h3> 
	<p>Метаданные Exif являются очень "хрупкими" и обнуляются многими 
	программами почти при любом редактировании фотографии. При этом 
	восстановить их обратно может быть уже невозможно. Имя файла более 
	"устойчиво" в этом смысле и имеет больше шансов сохранить 
	информацию о времени съемки при разных манипуляциях с 
	фотографиями.<br>

	<b>Важно</b>: для того, чтобы метка о времени съемки присутствовала 
	в Exif-данных на фотоаппарате должны быть выставлены дата и время. 
	На смартфонах это всегда присутствует, но на цифровых фотоаппаратах 
	это может быть и не так. Также важно привести временные метки в 
	метаданных фотографий к одному часовому поясу и узнать сдвиг 
	времени для этого пояса относительно времени <a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%92%D1%81%D0%B5%D0%BC%D0%B8%D1%80%D0%BD%D0%BE%D0%B5_%D0%BA%D0%BE%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D0%BE%D0%B5_%D0%B2%D1%80%D0%B5%D0%BC%D1%8F">
	UTC</a>.<br> 
	Удобным инструментом для работы с временными метками фотографий (и не 
	только) является простая утилита <a target="_blank" href="https://www.sentex.ca/~mwandel/jhead/">
	jhead</a>. Она работает из командной 
	строки и, в частности, позволяет делать такие операции как сдвиг 
	времени съемки в метаданных (нужно при корректировке часового 
	пояса) и переименование файла на основе данных о времени съемки. 
	Например, команда<br>
	<code>>>>jhead -ta-1:00 *.jpg</code><br>
	сдвигает временные метки всех файлов с расширением <b>jpg</b>, расположенных в текущей папке, на 1 час назад, а команда<br>
	<code>>>>jhead -ft *.jpg</code><br>
	ставит время последнего изменения jpg-файлов равным временной метке Exif.
	Команда<br>
	<code>>>>jhead -nimg%Y%m%d-%H%M%S *.JPG</code><br>
	переименовывает все JPG-файлы в файлы вида <code>imgYYYYMMDD-HHMMSS.jpg</code>, где 
	в начале идет дата <code>YYYYMMDD</code>, а затем время съемки <code>HHMMSS</code>.</p>
	
	<p><a href="#contents">
			&lt;&lt; К содержанию
		</a></p>
		
	<h2 id="drawing">Отрисовка карты</h2>
	<p> Процесс отрисовки карты состоит из нескольких операций, которые
	будут выполняться при наличии исходных данных. Часть операций
	может не выполняться по желанию пользователя. Основные действия,
	выполняемые программой, следующие:</p>
	
	<ul class="contents-list">
		<li>
			<b>Добавление планового и фактического треков</b>.
			Если треки "План" и "Факт" были загружены пользователем, 
			то они добавляются на карту в исходном виде без 
			какой либо модификации. Все последующие модификации
			будут применяться только к фактическому треку и отображаться
			отдельной линией на карте. 
		</li>
		<li>
			<b>Добавление путевых точек</b>. Если файл "Точки" был загружен
			пользователем, то на карту добавляются маркеры с именами, 
			соответствующими названию точек (поле <code>name</code> в GPX XML). 
			При нажатии на маркер всплывает окошко с комментариями к точке 
			(поле <code>comment</code> в GPX XML).
		</li>
		<li>
			<b>Упрощение трека</b>. Данная операция позволяет уменьшить 
			число точек трека без существенного искажения его формы при 
			помощи классического алгоритма <a target="_blank" 
			href="https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC_%D0%A0%D0%B0%D0%BC%D0%B5%D1%80%D0%B0_%E2%80%94_%D0%94%D1%83%D0%B3%D0%BB%D0%B0%D1%81%D0%B0_%E2%80%94_%D0%9F%D0%B5%D0%BA%D0%B5%D1%80%D0%B0"> 
			RDP</a>. В качестве управляющего параметра работы алгоритма
			выступает величина <i>эпсилон</i>, которая задает максимально
			допустимое отклонение упрощенного трека от оригинального в метрах.
		</li>
		<li>
			<b>Разметка.</b> Данная операция состоит в добавлении на трек
			меток дистанции, расположенных на равных расстояниях вдоль трека. 
			Пользователь имеет возможность задать шаг разметки в километрах
			в соответствующем поле.
		</li>
		<li>
			<b>Сглаживание.</b> При выполнении данной операции производится
			"бегущее" усреднение параметров всех точек трека по некоторому
			"окну" ближайших точек. При этом значительно повышается
			достоверность подсчета набора и сброса высоты вдоль трека, а
			также подсчета времени в движении и средней скорости в движении (ССД).
		</li>
		<li>
			<b>Добавление фотографий</b>. Процесс загрузки изображений
			уже описан выше в разделе <a href="#images">
			"Работа с изображениями"</a>. Для их правильной привязки
			к фактическому треку необходимо указать сдвиг времени съемки
			относительно UTC. После привязки
			фотографии добавляются на трек в виде маркеров. Миниатюры
			фотографий отображаются при щелчке на соответствующем маркере.
			Привязка будет выполнена только при наличии у точек трека 
			временных меток.
		</li>
		<li>
			<b>Подсчет статистики</b>. Если выбран этот параметр, то в
			процессе обработки будут автоматически определены и нанесены
			на карту места "остановок". При этом "остановкой" считаются все
			отрезки трека длительностью более 2 минут, на которых скорость
			движения не превышала заданного пользователем порога (в км/ч).
			При щелчке на соответствующем маркере будет показано время начала,
			окончания и длительность остановки в минутах. Эта операция будет
			выполнена только при наличии у точек трека временных меток.
		</li>
		<li>
			<b>Раскраска трека и добавление информационного маркера</b>. 
			При наличии временных меток будет также сделана попытка
			определения скорости движения по треку и раскраски обработанного
			трека разными цветами в зависимости от скорости движения. Кроме
			того, в середину трека будет добавлен маркер с всплывающим
			окном, содержащим информацию о фактическом треке: дистанция, общее время,
			набор/сброс высоты и т.п.
		</li>
	</ul>
	<p>После установки необходимых параметров процесс обработки трека и создания
	интерактивной карты запускается нажатием кнопки <b>"Нарисовать карту"</b>. Если процесс
	отрисовки прошел успешно, то в верхней части страницы отобразится информационное сообщение о
	выполненных действиях, а под кнопкой <b>"Нарисовать карту"</b> появятся ссылки для просмотра
	и сохранения результатов.</p>
	<p><a href="#contents">
			&lt;&lt; К содержанию
		</a></p>
	<h2 id="saving">Сохранение результатов</h2>
	<p>После отрисовки карты становятся доступны такие действия:</p>
	<ul>
		<li>
			<b>Просмотр карты</b> (ссылка "Показать карту в отдельной 
			вкладке"). При переходе по ссылке в новой вкладке браузера 
			откроется итоговая интерактивная карта. Ее можно сохранить 
			в виде единственного html-файла средствами браузера (см. 
			документацию к конкретному браузеру, т.к. порядок действий 
			для разных программ может быть различным). Следует 
			отметить, что все изображения "встроены" непосредственно 
			внутрь html-страницы, так что никакие дополнительные файлы 
			для корректного отображения локальной копии карты не 
			требуются. При этом, конечно, сами карты будут отображаться 
			только при наличии подключения к интернету и при условии 
			работоспособности соответствующих картографических 
			сервисов.
		</li>
		<li>
			<b>Скачать обработанный трек в формате gpx</b>. При переходе по
			этой ссылке возможно сохранить результаты обработки фактического
			трека в формате gpx. При этом все маркеры присутствующие на карте
			(кроме центрального информационного) будут включены в трек в качестве
			путевых точек.
		</li>
		<li>
			<b>Скачать обработанный трек в формате csv</b>. При 
			переходе по этой ссылке возможно сохранить результаты 
			обработки фактического трека в текстовом виде в формате <a 
			target="_blank" href="https://ru.wikipedia.org/wiki/CSV"> 
			csv</a>. Такой файл можно открыть в любой электронной 
			таблице и использовать имеющийся там инструментарий, 
			например, для представления различных параметров трека в 
			графическом виде. При этом путевые точки трека сохранены
			<em>не будут</em>.
		</li>
		<li>
			<b>Скачать путевые точки в формате csv</b>. Эта ссылка позволяет
			скачать в формате csv все путевые точки, присутствующие на карте
			(опять же, за исключением информационного маркера) и также использовать
			их в любой электронной таблице.
		</li>
	</ul>
	
	<p><a href="#contents">
			&lt;&lt; К содержанию
		</a></p>
	<h2 id="development">О приложении</h2>
	<p>Приложение создано при помощи микрофреймворка <a target="_blank" href="https://flask.palletsprojects.com/">
		<code>Flask</code></a> на языке <a target="_blank" href="https://www.python.org/">
			<code>Python</code></a>
	в качестве простого учебного примера.
	В дальнейшем планируется улучшить и дополнить его функционал.<br>
	 <a target="_blank" href="https://github.com/Villard85/postmap-app">
		Страничка проекта на GitHub
	</a>
	<br></p>
	<p><a href="#contents">
			&lt;&lt; К содержанию
		</a></p>
</div>
{% endblock %}
